{
  "recommendations": [
    "bmewburn.vscode-intelephense-client",
    "valeryanm.vscode-phpsab",
    "dbaeumer.vscode-eslint",
    "stylelint.vscode-stylelint",
    "esbenp.prettier-vscode",
    "editorconfig.editorconfig",
    "ms-vscode.vscode-typescript-tslint-plugin"
  ]
}
